<div data-role="view" data-layout="main" data-title="Food Label Essentials"
     data-model="APP.HomeViewModel" data-show="APP.HomeViewModel.show">
    <div align="center" style="margin-top:2em;margin-bottom:2em">
        <p><img src="images/foodessentialslogo.png" /></p>
    </div>
    <h3 style="text-align:justify">
        FoodEssentials specializes in aggregating food label data sources and processing
        raw label information to assign additive, allergen, ingredient, and
        nutrient properties to each product. This sample app uses the FoodEssentials API
        to get food product and label information.
    </h3>
    <div align="center" style="margin-top:3em;margin-bottom:2em">
        <input type="text" style="padding:3px;width:90%;height:2em;font-size:1.2em;border-radius:5px" 
               placeholder="enter a search term" 
               data-bind="value: searchText"/>
        <br />
        <button data-role="button" style="width:90%" 
                class="km-primary"
                data-bind="events:{click: search}">Search</button>
    </div>
    <h3 style="text-align:justify;margin-top:2em;">
        To learn more about the FoodEssentials API and
        get your free API key, visit <a href="http://developer.foodessentials.com">http://developer.foodessentials.com</a>
    </h3>
</div>
